In [12]:
import pandas
pandas.__version__

'1.0.5'

In [13]:
import numpy as np
import pandas as pd

In [14]:
counts=pd.Series([632,1638,569,115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

In [15]:
counts.values

array([ 632, 1638,  569,  115])

In [16]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
bacteria =pd.Series([632,1638,569,115],
     index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacterioidetes'])

bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacterioidetes     115
dtype: int64

In [18]:
bacteria['Bacterioidetes']

115

In [19]:
bacteria[0]

632

In [20]:
bacteria.name='counts'
bacteria.index.name='Phylum'
bacteria

Phylum
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacterioidetes     115
Name: counts, dtype: int64

In [21]:
np.log(bacteria)

Phylum
Firmicutes        6.448889
Proteobacteria    7.401231
Actinobacteria    6.343880
Bacterioidetes    4.744932
Name: counts, dtype: float64

In [22]:
bacteria[bacteria>1000]

Phylum
Proteobacteria    1638
Name: counts, dtype: int64

In [23]:
bacteria_dirt={'Firmicutes':632,'Proteobacteria':1638,'Actinobacteria':569,'Bcterioidetes':115}
print(bacteria_dirt)
pd.Series(bacteria_dirt)

{'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569, 'Bcterioidetes': 115}

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bcterioidetes      115
dtype: int64

In [24]:
data={"province":["FL","FL","NH","NH","ZH"],
      "year":[2013,2014,2013,2014,2014],
      "Literacy":[0.1,0.2,0.5,0.3,0.5]}
print(data)
data=pd.DataFrame(data)
data

{'province': ['FL', 'FL', 'NH', 'NH', 'ZH'], 'year': [2013, 2014, 2013, 2014, 2014], 'Literacy': [0.1, 0.2, 0.5, 0.3, 0.5]}

  province  year  Literacy
0       FL  2013       0.1
1       FL  2014       0.2
2       NH  2013       0.5
3       NH  2014       0.3
4       ZH  2014       0.5

In [25]:
df=pd.DataFrame(data,columns=["year","province","Literacy"])
df

   year province  Literacy
0  2013       FL       0.1
1  2014       FL       0.2
2  2013       NH       0.5
3  2014       NH       0.3
4  2014       ZH       0.5

In [27]:
df['Nonsence']=df.year/df.Literacy
df

   year province  Literacy      Nonsence
0  2013       FL       0.1  20130.000000
1  2014       FL       0.2  10070.000000
2  2013       NH       0.5   4026.000000
3  2014       NH       0.3   6713.333333
4  2014       ZH       0.5   4028.000000

In [29]:
df['Serie_aligned']=pd.Series(range(5),index=[0,1,2,3,4])
df

   year province  Literacy      Nonsence  Serie_aligned
0  2013       FL       0.1  20130.000000              0
1  2014       FL       0.2  10070.000000              1
2  2013       NH       0.5   4026.000000              2
3  2014       NH       0.3   6713.333333              3
4  2014       ZH       0.5   4028.000000              4

In [30]:
df.to_dict()

{'Literacy': {0: 0.1, 1: 0.2, 2: 0.5, 3: 0.3, 4: 0.5},
 'Nonsence': {0: 20130.0,
  1: 10070.0,
  2: 4026.0,
  3: 6713.333333333334,
  4: 4028.0},
 'Serie_aligned': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'province': {0: 'FL', 1: 'FL', 2: 'NH', 3: 'NH', 4: 'ZH'},
 'year': {0: 2013, 1: 2014, 2: 2013, 3: 2014, 4: 2014}}

In [31]:
pd.DataFrame(df.to_dict())

   year province  Literacy      Nonsence  Serie_aligned
0  2013       FL       0.1  20130.000000              0
1  2014       FL       0.2  10070.000000              1
2  2013       NH       0.5   4026.000000              2
3  2014       NH       0.3   6713.333333              3
4  2014       ZH       0.5   4028.000000              4

In [32]:
data=[{'a':i,'b':10* i}for i in range(6)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50

In [33]:
pd.DataFrame([{'aa':1,'bb':2},{'bb':3,'cc':6}])

    aa  bb   cc
0  1.0   2  NaN
1  NaN   3  6.0

In [34]:
pd.DataFrame(np.random.randint(6,12),
             columns=['foo''bar'],
             index=['a','b''c'])

    foobar
a        7
bc       7

In [35]:
ind=pd.Index([20,56,31,45,1,5])
ind

Int64Index([20, 56, 31, 45, 1, 5], dtype='int64')

In [36]:
ind[1]

56

In [37]:
ind[::]

Int64Index([20, 56, 31, 45, 1, 5], dtype='int64')

In [38]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

6 (6,) 1 int64

In [88]:
ind[1]=0

TypeError: ignored

In [89]:
rng=np.random.RandomState(15),
ser=pd.Series(rng.randint(0,10,4))
ser

AttributeError: ignored

In [90]:
dfr=pd.DataFrame(rng.randint(0, 10, (5,4)),
                 columns=['A','B','C','D'])
dfr

AttributeError: ignored

In [49]:
np.exp(ser)

NameError: ignored

In [50]:
np.sin(dfr *np.pi/4)

NameError: ignored

In [51]:
area=pd.Series({'Alaska':1723337,'Texas':695662,
                'California':423967},name='area')
population=pd.Series({'California':38332521,'Texas':26448193,'New York':19651127},name='population')
print(area)
population

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

In [52]:
population/area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [53]:
area.index|population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [59]:
A=pd.Series([2,4,6],index=[0,1,2])
B=pd.Series([1,3,5],index=[1,2,3])
print(A)
print(B)
B
A+B

0    2
1    4
2    6
dtype: int64
1    1
2    3
3    5
dtype: int64

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [63]:
A.add(B,fill value=0)

SyntaxError: ignored

In [70]:
df

   year province  Literacy      Nonsence  Serie_aligned
0  2013       FL       0.1  20130.000000              0
1  2014       FL       0.2  10070.000000              1
2  2013       NH       0.5   4026.000000              2
3  2014       NH       0.3   6713.333333              3
4  2014       ZH       0.5   4028.000000              4

In [68]:
df2=pd.DataFrame({"Province":["FL","NH","ZH"],"Population":["100000","200000","300000"]})
df2

  Province Population
0       FL     100000
1       NH     200000
2       ZH     300000

In [71]:
df.merge(df2)

MergeError: ignored

In [72]:
df3=pd.DataFrame({"Province":["FL","NH"],"Population":["100000","200000"]})
df3
df.merge(df3,right_on='province',Left_on='Province')

TypeError: ignored

In [73]:
df4=pd.DataFrame({"Province":["FL","NH","UT"],"Population":["100000","200000","500000"]})
df.merge(df4,how='outer')

MergeError: ignored

In [74]:
df5=pd.DataFrame({"Province":["FL","NH","FL"],"Population":["100000","200000","500000"]})
df.merge(df5,how='outer')

MergeError: ignored

In [80]:
serie_a=pd.Series([np.nan,2.5,np.nan,3.5,4.5,np.nan],
                  index=['f','e','d','c','b','a'])
serie_b=pd.Series(np.arange(len(serie_a),dtype=np.float64),
                  index=['f','e','d','c','b','á'])

In [83]:
serie_a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [81]:
serie_b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
á    5.0
dtype: float64

In [86]:
pd.Series(np.where(pd.isnull(serie_a),serie_b,serie_a),index=serie_a.index)

f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    5.0
dtype: float64

In [87]:
serie_a.combine_first(serie_b)

a    NaN
b    4.5
c    3.5
d    2.0
e    2.5
f    0.0
á    5.0
dtype: float64